.adress__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;

  @include tablet() {
    margin: 0;
    margin-bottom: 3px;
  }

  @media (min-width: $lg) {
    margin-bottom: 20px;
  }
}
