.advantages {
  @include desktop() {
    background-color: #f2f2f2;
  }
}

.advantages__wrapper {
  @include wrapper;

  @media (min-width: $md) {
    @include tablet;
  }

  @media (min-width: $lg) {
    @include desktop;
  }
}

.advantages__titles {
  padding-bottom: 32px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 0% 100%);
  background-color: #ffffff;

  @include desktop() {
    padding-bottom: 146px;
  }
}

.advantages__intro {
  margin: 0;
  padding: 0;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;

  &:first-child {
    margin-bottom: 28px;
  }

  @include tablet() {
    width: 100%;
    font-size: 40px;
    line-height: 54px;
    text-align: center;

    &:first-child {
      margin-bottom: 0;
    }
  }

  @include desktop() {
    font-size: 50px;
    line-height: 68px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.advantages__content {
  clip-path: polygon(0% 3.5%, 100% 0%, 100% 100%, 0 100%);
  background-color: #f2f2f2;

  @include tablet() {
    clip-path: none;
  }

  @include desktop() {
    clip-path: none;
  }
}

.advantages__list {
  @include list-reset;
  padding-top: 56px;
  margin-left: -20px;
  margin-right: -20px;

  @include tablet() {
    display: grid;
    grid-template-columns: 267px 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 42px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;

    &::before {
      content: "";

      display: block;
      width: 660px;

      background-image: url("../../img/advantages-bevel.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 60px;
      width: 100%;
      position: absolute;
      z-index: 2;
      margin-left: -20px;
    }
  }

  @include desktop() {
    &::before {
      content: "";
      display: none;
    }

    clip-path: none;
    margin-bottom: 0;
  }

  &::after {
    content: "";

    display: block;
    width: 157px;
    height: 320px;

    background-image: url("../../img/phone-screen-smile.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    /* margin-top: 43px; */
    z-index: 3;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-screen-smile@2x.png");
      /* background-size: 1320px auto; */
    }

    @include tablet() {
      grid-column: 1/2;
      grid-row: 1/-1;
      background-image: url("../../img/phone-screen-smile-tablet.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 547px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone-screen-smile-tablet@2x.png");
        /* background-size: 536px auto; */
      }
    }

    @include desktop() {
      display: none;
    }
  }

  @include desktop() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 0;
    position: relative;
    top: -86px;
  }
}

.advantages__effect-content {
  /* padding-top: 68px; */
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 12px;

  @include tablet() {
    text-align: left;
  }

  @media (min-width: $lg) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin: 56px 30px 23px 30px;
  }
}

.advantages__title--effect {
  @media (min-width: $md) {
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    width: 30%;
    margin: 0;
    margin-bottom: -3px;
  }

  @include desktop() {
    width: 100%;
    margin-top: 49px;
    margin-bottom: 23px;
  }
}

.advantages__description {
  line-height: 24px;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 30px;
  }

  @include tablet() {
    text-align: left;


    &:last-child {
      margin-bottom: 0;
    }
  }

  @include desktop() {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 12px;

    br {
      display: none;
    }
  }
}

.advantages__link {
  text-align: left;
  color: #d22856;
  text-decoration: underline;

  @media (min-width: $md) {
    line-height: 24px;
  }

  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__image {
  margin: 0 auto;
}


.advantages__image--none {
  display: none;

  @include desktop() {
    display: block;
  }
}


/* .advantages__item--image {
  @include desktop() {
    display: grid;
    grid-template-columns: auto auto auto;
  }
} */

.advantages__effect {
  display: none;
  background-color: #ffffff;

  @include tablet() {
    display: grid;
    grid-template-columns: 238px 1fr;
    gap: 72px;
    align-items: center;
    padding-bottom: 102px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 54px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: -62px;
    z-index: 4;

    @include desktop() {
      grid-template-columns: 298px 1fr;
      background-color: #f2f2f2;
      padding-top: 0;
      padding-bottom: 67px;
      margin-top: -106px;
    }

    &::before {
      content: "";

      display: block;
      width: 100%;
      height: 276px;

      background-image: url("../../img/clock.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @include desktop() {
        height: 345px;
      }
    }
  }
}

.advantages__item {
  padding-left: 20px;
  padding-right: 20px;

  @include tablet() {
    padding: 0;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
  }

  &:last-of-type {
    @include tablet() {
      padding-bottom: 20px;
    }
  }

  @include desktop() {
    justify-content: start;

    &::before {
      content: "";

      display: block;

      width: 300px;
      height: 389px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--mood::before {
      background-image: url("../../img/phone-screen-1.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone-screen-1@2x.png");
      }
    }

    &--world::before {
      background-image: url("../../img/phone-screen-2.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone-screen-2@2x.png");
      }
    }

    &--friends::before {
      background-image: url("../../img/phone-screen-3.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone-screen-3@2x.png");
      }
    }
  }
}

.advantages__item-content {
  @include desktop() {
    position: relative;
    top: -90px;
    background-color: #f2f2f2;
  }
}

.advantages__effect-description {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 7px;

  @include desktop() {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 29px;
  }
}
