.copyright__text {
  line-height: 18px;
  font-weight: 400;
  padding-right: 10px;

  @include tablet() {
    padding-right: 7px;
  }

  @include desktop() {
    font-size: 18px;
    padding-right: 5px;
  }
}

.copyright__link {
  width: 33px;

  @include tablet() {
    padding-top: 8px;
  }

  @include desktop() {
    padding-left: 1px;
  }
}
