.email__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #283645;

  @include tablet() {
    margin: 0;
    margin-bottom: 3px;
  }

  @include desktop() {
    margin-bottom: 20px;
  }
}
