.form-platform {
  @include desktop() {
    padding: 0;
    padding-top: 38px;
    padding-bottom: 57px;
  }
}

.form-platform__wrapper {
  @include wrapper;
  background-color: #f2f2f2;
  padding-top: 42px;
  padding-bottom: 42px;

  @include tablet() {
    background-color: #ffffff;
  }
}

.form-platform__list {
  @include list-reset;

  @include desktop() {
    padding-left: 69px;
  }
}

.form-platform__item:not(:last-child) {
  margin-bottom: 38px;

  @include desktop() {
    margin-bottom: 39px;
  }
}

.form-platform__legend {
  margin-bottom: 34px;
  padding-left: 10px;
  padding-right: 30px;

  @include tablet() {
    padding-left: 30px;
  }

  @include desktop() {
    margin: 0;
  }
}
