.form-header {
  @include wrapper;
  background-color: #283645;
  background-image: url("../../img/background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -90px;
  margin-bottom: 45px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background-mobile@2x.png");
  }

  @include tablet() {
    background-image: url("../../img/background-tablet.png");
    background-size: cover;
    margin-top: -110px;
    margin-bottom: 91px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-tablet@2x.png");
    }
  }

  @include desktop() {
    background-image: url("../../img/background-desktop.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-desktop@2x.png");
    }
  }
}

.form-header__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  color: $white;
  padding: 121px 0 43px 0;
  margin: 0;

  @include tablet() {
    font-size: 50px;
    line-height: 68px;
    padding-top: 178px;
    padding-bottom: 62px;
  }

  @include desktop() {
    padding-top: 173px;
    padding-bottom: 90px;
  }
}
