.intro {
  @include desktop() {
    margin-bottom: 62px;
  }
}

.intro__wrapper {
  @include wrapper;
  background-color: #1d2631;

  @include tablet() {
    background-image: url("../../img/background-hand-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 208px;
    padding-bottom: 44px;
    margin-top: -114px;
    margin-bottom: 44px;
  }

  @include desktop() {
    background-image: url("../../img/background-hand-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 51px;
    margin-top: -110px;
  }
}

.intro__button {
  @include tablet() {
    max-width: 300px;
  }
}

 /*  @media (min-width: $md) {
    @include tablet;
  }

  @media (min-width: $lg) {
    @include desktop;
  } */

.intro__slogan {
  color: #ffffff;
  margin: 0 20px 28px;
  padding-top: 88px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 300;

  @include tablet() {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 30px;
    max-width: 60%;
    padding-left: 70px;
    padding-top: 64px;
  }

  @include desktop() {
    font-size: 50px;
    line-height: 68px;
    padding-left: 39px;
    padding-top: 70px;
    margin-bottom: 36px;
  }
}

.intro__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  justify-content: center;
  gap: 35px;
  margin-bottom: 22px;

  @include tablet() {
    width: 100%;
    max-width: 300px;
    margin-bottom: 34px;
  }

  @include desktop() {
    margin-bottom: 52px;
  }
}

.intro__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__download-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 42px;
  padding-bottom: 30px;

  @include tablet() {
    font-size: 18px;
  }
}

.intro__button {
  width: 100%;
  margin-bottom: 32px;

  @include tablet() {
    margin-bottom: 46px;
  }

  @include desktop() {
    margin-bottom: 68px;
  }
}

.intro__inner {
  background-image: url("../../img/background-mobile.png");
  background-repeat: no-repeat;
  margin-top: -65px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 28px;
  background-size: cover;

  @include tablet() {
    background-image: none;
    margin-bottom: 0;
  }
}

.intro__image {
  display: flex;
  justify-content: center;

  @include tablet() {
    display: none;
  }
}
