.main-header__wrapper {
  @include wrapper;

  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 21px;
  padding-bottom: 21px;

  @include tablet() {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  &::after {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(#000000, 0.3);
  }
}
