.main-nav {
  display: block;
  position: absolute;
  top: -100vw;
  left: 0;
  width: 100%;
  margin: 0;
  visibility: hidden;

  @include desktop() {
    position: static;
    display: flex;
    margin-top: 19px;
    visibility: visible;
    justify-content: flex-end;
  }
}

.main-nav__toggle {
  @include button-reset;
  color: $white;
  width: 50px;
  height: 24px;
  display: grid;
  place-items: end;

  @include tablet() {
    margin-top: 16px;
  }

  @include desktop() {
    display: none;
  }
}

.main-nav__toggle-cross {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop() {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list a {
  color: #ffffff;
}
