.main-nav {
  display: none;

  @include desktop() {
    display: flex;
    margin-top: 16px;
  }
}

.main-nav__toggle {
  @include button-reset;
  color: $white;

  @include tablet() {
    margin-top: 16px;
  }

  @include desktop() {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include desktop() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  @include desktop() {
    margin-right: 79px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-list__link {
  @include desktop() {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: $white;
  }
}
