.range-controls__bar {
  display: none;
  position: relative;
  height: 2px;
  background-color: #283645;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 34px;

  @include tablet() {
    display: block;
    margin: 0;
    width: 74%;
  }

  @include desktop() {
    width: 63%;
  }
}

.range-controls__toggle {
  position: absolute;
  top: -6px;
  left: 193px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #d22856;
  cursor: pointer;

  @include tablet() {
    left: 164px;
  }
}
