.reviews__wrapper {
  @include wrapper;

  @media (min-width: $md) {
    @include tablet;
  }

  @media (min-width: $lg) {
    @include desktop;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: $md) {
    font-size: 18px;
  }

  @media (min-width: $lg) {
    width: 100%;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @media (min-width: $md) {
    font-size: 20px;
  }

  @media (min-width: $lg) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: $md) {
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
  }

  @media (min-width: $lg) {
    font-size: 18px;
  }
}
