.reviews__wrapper {
  @include wrapper;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
