.reviews {
  position: relative;
  top: -44px;
  background-color: #ffffff;

  @include tablet() {
    top: -64px;
  }
}

.reviews__wrapper {
  @include wrapper;
  padding-bottom: 94px;

  @include tablet() {
    padding: 0;
  }

  @include desktop() {
    padding-top: 72px;
  }
}

.reviews__list {
  @include desktop() {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__info {
  @include tablet() {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @include desktop() {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-bottom: 30px;

  @include tablet() {
    font-size: 18px;
    padding-bottom: 12px;
    order: 1;
  }

  @include desktop() {
    width: 100%;
    order: 1;
    padding: 0;
    margin-top: 114px;
    margin-bottom: 36px;
    padding-left: 210px;
    padding-right: 210px;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding-top: 41px;
  padding-bottom: 14px;

  @include tablet() {
    font-size: 20px;
    order: 2;
    padding: 0;
    padding-top: 24px;
  }

  @include desktop() {
    font-size: 24px;
    order: 2;
    padding: 0;
    margin-bottom: 2px;
  }
}

.reviews__author-info {
  display: none;

  @include tablet() {
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    order: 3;
    margin: 0;
    padding-bottom: 35px;
  }

  @include desktop() {
    font-size: 18px;
    order: 3;
    margin: 0;
  }
}
