.upload__wrapper {
  @include wrapper;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}

.upload__form-wrapper {
  background-color: #f2f2f2;
}

.upload__image {
  margin-bottom: 43px;
}

.upload__filter {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__item:not(:last-child) {
  margin-right: 35px;
}

.upload__buttons-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 41px;
}

.upload__buttons {
  margin-bottom: 12px;
  color: #d22856;
  border-color: #d22856;
}
