@mixin button-reset {
  border: 0;
  padding: 0;
  background: none;
}

@mixin wrapper {
  width: 100%;
  max-width: $sm;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
